<div>
  <div style="width:230;height:260px;background-repeat:no-repeat;float:left">
    <%= form_for @problem do |f|%>
      <div style="padding: 14px 0;">
        <%= f.text_field :pos_41, :size => 2, :value => @problem.koma_label_at(4,1) %>
        <%= f.text_field :pos_31, :size => 2, :value => @problem.koma_label_at(3,1) %>
        <%= f.text_field :pos_21, :size => 2, :value => @problem.koma_label_at(2,1) %>
        <%= f.text_field :pos_11, :size => 2, :value => @problem.koma_label_at(1,1) %>
      </div>
      <div style="padding: 14px 0;">
        <%= f.text_field :pos_42, :size => 2, :value => @problem.koma_label_at(4,2) %>
        <%= f.text_field :pos_32, :size => 2, :value => @problem.koma_label_at(3,2) %>
        <%= f.text_field :pos_22, :size => 2, :value => @problem.koma_label_at(2,2) %>
        <%= f.text_field :pos_12, :size => 2, :value => @problem.koma_label_at(1,2) %>
      </div>
      <div style="padding: 14px 0;">
        <%= f.text_field :pos_43, :size => 2, :value => @problem.koma_label_at(4,3) %>
        <%= f.text_field :pos_33, :size => 2, :value => @problem.koma_label_at(3,3) %>
        <%= f.text_field :pos_23, :size => 2, :value => @problem.koma_label_at(2,3) %>
        <%= f.text_field :pos_13, :size => 2, :value => @problem.koma_label_at(1,3) %>
      </div>
      <div style="padding: 14px 0;">
        <%= f.text_field :pos_44, :size => 2, :value => @problem.koma_label_at(4,4) %>
        <%= f.text_field :pos_34, :size => 2, :value => @problem.koma_label_at(3,4) %>
        <%= f.text_field :pos_24, :size => 2, :value => @problem.koma_label_at(2,4) %>
        <%= f.text_field :pos_14, :size => 2, :value => @problem.koma_label_at(1,4) %>
      </div>
      <br/>
      持ち駒<%= f.text_field :hand, :value => Problem.h_koma(@problem.hand), :size => 3%>
      <br/>
      答え<%= f.text_field :answer, :value => @problem.answer_label ,:size => 10%>
      <%= submit_tag "保存" %>
  </div>
  <% if @problem.persisted? %>
    <div style="background-image:url(/komaimages/masu_dot.png);width:200px;height:300;background-repeat:no-repeat;float:left;">
      <% 1.upto(4) do |y| %>
        <ul style="width:172px;height:48px;margin:0px;padding:0px">
        <% 4.downto(1) do |x| %>
          <li style="width:43px;height:48px;float:left;list-style:none outside;margin:0px">
            <img src="<%= @problem.image_at(x,y) %>" style="width:43px;height:48px;padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;"/>
          </li>
        <% end %>
        </ul>
      <% end %>
      <br/>
      <span>持ち駒:<%= h_hand(@problem) %></span>
      <br/>
      <span>答え:<%= h @problem.answer_h_label %></span>
      <br/>
      <span>タグ:
        <% @problem.tags.each do |tag|%>
          <%= h tag.name %>&nbsp;
        <% end %>
      </span>
      <br/>
    </div>
  <% end %>
  <div style="clear:both">
    <span>駒対応:歩1 香2 桂3 銀4 金5 角6 飛7 玉8 王8 と9 杏10 圭11 全12 N/A13 馬14 龍15 P16 N17 R18 B19 Q20 K21<span><br>
    <span>その他表記 後手: v, 成り: n</span>
    <br>
    <br>
    タグ<br>
    <% Category.all.each do |category| %>
      <%= h category.name %>:
      <% category.tags.each do |tag| %>
        <span>
        <%= check_box_tag :tag_ids, tag.id, @problem.tags.include?(tag), :name => 'problem[tag_ids][]' %>
        <%= label_tag :tag_ids, tag.name %>
        </span>
      <% end %>
      <br/>
    <% end %>
    <br>
  </div>
  <% end %>
</div>
