<%= form_tag "/problems/search" do %>
  <%= text_field_tag :search_word %>
  <%= submit_tag "検索" %>
<% end %>
11玉、32飛、44全(成銀)のような文字列で検索出来ます。<br/>
<div>
  <%= form_tag "/problems/search" do %>
    <% Category.all.each do |category| %>
      <%= h category.name %>:
      <% category.tags.each do |tag| %>
        <span>
        <%= check_box_tag :tag_ids, tag.id, false, :name => 'problem[tag_ids][]' %>
        <%= label_tag :tag_ids, tag.name %>
        </span>
      <% end %>
      <br/>
    <% end %>
    <%= submit_tag "タグ検索" %>
  <% end %>
</div>

<%= link_to "一覧に戻る", :action => :index %> <br/>
<%= link_to "新しい問題を作る", :action => :new %>
<%= link_to "タグを編集", tags_path %>
<%= link_to "タグのカテゴリを編集", categories_path %>
<br/>

<% @problems.each do |problem| %>
  <div style="background-image:url(/komaimages/masu_dot.png);width:200px;height:300;background-repeat:no-repeat;float:left;padding-bottom:20px">
    <% 1.upto(4) do |y| %>
      <ul style="width:172px;height:48px;margin:0px;padding:0px">
      <% 4.downto(1) do |x| %>
        <li style="width:43px;height:48px;float:left;list-style:none outside;margin:0px">
          <img src="<%= problem.image_at(x,y) %>" style="width:43px;height:48px;padding-left:0px;padding-right:0px;margin-left:0px;margin-right:0px;"/>
        </li>
      <% end %>
      </ul>
    <% end %>
    <span>ID:<%= problem.id %>&nbsp;<%= link_to "編集", edit_problem_path(problem) %>&nbsp;持ち駒:<img src="<%= problem.answer_image %>"/></span>
    <br/>
    答え:<%= problem.answer_h_label %>
    <br/>
    <span>タグ:
      <% problem.tags.each do |tag|%>
        <%= h tag.name %>&nbsp;
      <% end %>
    </span>
    <br/>
  </div>
<% end %>
